{% extends "encyclopedia/index.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="">


    
    <h1 class="text-center border-bottom border-info"> {{ title }} </h1>
    {% if not exists %}
    <div class="col-8 col-lg-5 col-md-4 mx-auto mb-4 " >
        <a href="{% url 'edit' title=title %}" class="btn btn-info btn-block">Create this entry</a>
    </div>
    <p class="mt-4 text-danger">This entry does not exist. Click the button above to create it</p>
    {% else %}
    <div class="col-8 col-lg-5 col-md-4 mx-auto mb-4 " >
        <a href="{% url 'edit' title=title %}" class="btn btn-info btn-block">Edit this entry</a>
    </div>
    {% endif %}
    
    <div class="p-2">
        {{ html|safe }}
    </div>
    

    

  
</div>
{% endblock %}