{% extends "encyclopedia/index.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="main  col-10 col-lg-5  mx-auto">


    
    {% if title %}
    <h1 class="text-center border-bottom border-info"> {{ title }} </h1>

    {% endif %}

    {% if title %} 
    <div class="col-8 col-lg-5 col-md-4 mx-auto mb-4 " >
        <a href="{% url 'edit' title=title %}" class="btn btn-info btn-block">Edit this entry</a>
    </div>
    {% endif %}

    <div class="p-2">
        {{ html|safe }}
    </div>

  
</div>
{% endblock %}