{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block head %}
<link type="text/css"  href="{% static 'encyclopedia/index.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}
    Encyclopedia
{% endblock %}



{% block nav %}



<div class="">
    <h1 class="text-dark">All Pages</h1>

    <div class="list-wrapper">
        {% for entry in entries %}
        <ul>
            <li><a href="{% url 'entry_page' entry=entry %}"> {{ entry }}</a></li>
        </ul>
        {% endfor %}
    
    </div>
</div>



{% endblock %}
