{% extends "encyclopedia/index.html" %}

{% block title %}
New entry
{% endblock %}



{% block content %}

<div class="col-10 col-lg-5  mx-auto px-auto">

    <!-- header -->
    {% if edit %}
    <h3 class="text-center border-bottom text-info py-4 mb-4">Edit entry</h3>
    <form action="{% url 'edit' title=' ' %}" method="POST">
    {% else %}
    <h3 class="text-center border-bottom text-info py-4 mb-4">Create new entry</h3>

    <!-- form -->
    <form action="{% url 'new' %}" method="POST">
    {% endif %}

        {% csrf_token %}
        <div class="mb-3">
          <label aria-required="true" for="title" class="form-label">Title</label>
          <input value="{{title}}" name="title" type="text" class="form-control" id="title" >
        </div>

        <div class="mb-3">
        <label for="content" class="form-label">Use markup to enter the content</label>
          <textarea name="content" title="content" class="form-control" 
          
          placeholder="Entry's content..."
          required
          >{{content}}</textarea>
        </div>

        
        <div class="text-center">
            <button type="submit" class="text-center btn btn-outline-success">Submit</button>
        </div>
      </form>
    </div>



{% endblock %}